/*/logs
/*/crash-reports
/*/debug
/*/saves
/*/xaero
/*/user-prefs.json
/*/usercache.json
/*/usernamecache.json
/*/ponders_watched.json
/*/options.txt
/*/command_history.txt
/skylanders_distant_ores.zip
/create-skylanders/schematics/
/create-skylanders/screenshots/
/create-skylanders/XaeroWaypoints_BACKUP240807/
/create-skylanders/.mixin.out/
/.idea/
